@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-poppins: 'Poppins', sans-serif;
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    font-family: var(--font-poppins);
}

/* 
******************
* Main Container *
****************** */

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#countdownContainer {
    text-align: center;
    margin-left: 7.69rem;
}

.imageContainer {
    margin-left: 5.125rem;
    margin-right: 3.75rem;
}

/* 
********** Title **********
*/

.title {
    margin-bottom: 19px;
}

h1 {
   font-size: 2.25rem;
   color: var(--purple);
   letter-spacing: 0.25rem;
}

/* 
********** Timer **********
*/

.timer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 46px;
}

h5 {
    font-size: .875rem;
    color: var(--light-grey);
    font-weight: 300;
}

.fontStyle {
    font-size: 4.5rem;
    color: var(--black);
    font-weight: 500;
}

/* 
********** Subscribe **********
*/

.subscribe p {
    font-size: .875rem;
    color: var(--text-color);
    margin-bottom: 31px;
}

.subscribe a button {
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    border-style: none;
    border-radius: 10px;
    background: var(--purple);
    padding: 16px 38px;
}
.subscribe a button:hover {
    cursor: pointer;
}


#rocketImage {
    height: 535px;
}

#topImage, #bottomImage {
    width: 100vw;
    height: auto;
}

footer {
    position: fixed;
    bottom: 0;
}

/* 
****************
* Responsivity *
****************
*/